/* ===== Header ===== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  padding: 20px;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header title */
header h1 {
  color: #39ff14; /* pseudo vert */
  margin: 0;
  font-size: 2rem;
}

/* Nav links horizontal */
nav {
  display: flex;
  gap: 20px; /* espace entre les liens */
}

nav a {
  color: #39ff14; /* texte vert par défaut */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: white; /* texte blanc au hover */
}